<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
>
    <php>
        <env name="APP_KEY" value="base64:u8699SXL9N99Fz3E1lV9f8R96789012345678901234="/>
        <env name="SESSION_DRIVER" value="array"/>

    </php>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
      <include>
        <directory suffix=".php">./src</directory>
      </include>
    </source>
</phpunit>
